<html lang="en">

<head>
    <style>
        body {
            background: black;
            color: white;
        }

        div.container {
            max-width: 500px;
            margin: 100px auto;
            border: 20px solid white;
            padding: 10px;
            text-align: center;
        }

        h2 {
            text-transform: uppercase;
        }
    </style>
    <title>Quote of the day</title>
</head>

<body>
<div class="container">
    <h2>Quote of the day</h2>
    <hr>
    <h3>FILM: </h3><h4> {{ film }} </h4>
    <h3>QUOTE: </h3><h4> {{ quote }} </h4>
</div>
</body>

</html>
